@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleAnimation 2s ease-in-out forwards; /* Adjust duration as needed */
}